.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  background-color: #2474D3;
}
/* .storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
} */
.storybook-button--small {
  width: 85px;
  height: 30px;
  border-radius: 100px;
  padding: 8px 24px;

  /* text */
  color:white;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
.storybook-button--medium {
  width: 131px;
  height: 30px;
  border-radius: 100px;
  padding: 8px 24px;

  /* text */
  color:white;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
.storybook-button--large {
  width: 208px;
  height: 30px;
  border-radius: 100px;
  padding: 8px 24px;

  /* text */
  color:white;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
