.storybook-page-section > h1{
  background-color: #063B7A;
  color:white;
  font-family: 'Jura';
  font-weight:700;
  font-size: 34px;
  padding: 7px 14px;
  margin:0;
}

.storybook-page-section > p.description{
  font-family: 'Quicksand';
  font-weight: 500;
  font-size:16px;
}

.storybook-page-cards {
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-evenly;
  margin-bottom:50px;
}

.storybook-page-section .small-text{
  font-family: 'Quicksand';
  font-size: 12px;
  font-weight:500;
}

.select-list{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search-button{
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 9px;
  align-self: flex-end;
  height:38px;
}

.storybook-page-cards:last-child{
  justify-content: space-between;
}

.storybook-page-alert{
  background-color: #FF2E4D;
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  color:white;
  padding: 20px 10px;
  margin-bottom: 30px;
}

.storybook-page-alert div:first-child{
  width: 15%;
  display:flex;
  justify-content: center;
  align-items:center;
}

.storybook-page-alert div:last-child{
  width:85%;
}

.storybook-page-alert h1{
  font-weight:700;
  font-size:22px;
  margin:0;
  padding:0;
  font-family: 'Jura';
}

.storybook-page-alert p{
  font-weight:500;
  font-size: 16px;
  margin:0;
  padding:0;
  font-family: 'Quicksand';
}